{{ $.Scratch.Add "labelClasses" "f6 b db mb1 mt3 sans-serif mid-gray" }}
{{ $.Scratch.Add "inputClasses" "w-100 f5 pv3 ph3 bg-light-gray bn" }}
<div style="display:none;" id="message" class="flex items-center justify-center pa4 bg-green white">
  <span class="lh-title ml3">Your RSVP has been submitted. Thank you!</span>
</div>
<form class="black-80 sans-serif rsvp-form" accept-charset="UTF-8" action="{{ .Get "action" }}" method="POST" role="form">

    <label class="{{ $.Scratch.Get "labelClasses" }}"  for="name">Your Name</label>
    <input type="text" class="{{ $.Scratch.Get "inputClasses" }}" id="name" name="name" required  aria-labelledby="name"/>

    <label class="{{ $.Scratch.Get "labelClasses" }}"  for="name">Are you attending?</label>
    <select class="{{ $.Scratch.Get "inputClasses" }}" id="attending" name="attending" required>
      <option value="">-- Select one --</option>
      <option value="Yes">Yes, wouldn't miss it</option>
      <option value="No">Sorry, can't make it</option>
    </select>

    <div class="attending-guests">
      <label class="{{ $.Scratch.Get "labelClasses" }}"  for="name">Please enter the name of each guest that will be attending</label>
      <div class="inputs">
        <input class="{{ $.Scratch.Get "inputClasses" }}" type="text" name="guest-name[]" value="" placeholder="Guest Name"  />
      </div>

      <button id="addGuest">Add Guest</button>
    </div>

    <div class="guest-options">
      <label class="{{ $.Scratch.Get "labelClasses" }}"  for="name">Are you all attending the welcome/rehearsal dinner on Friday?</label>
      <select class="{{ $.Scratch.Get "inputClasses" }}" id="welcome_dinner" name="welcome_dinner">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>

      <label class="{{ $.Scratch.Get "labelClasses" }}"  for="name">Number of kids meals</label>
      <input class="{{ $.Scratch.Get "inputClasses" }}" type="text" name="kids_meals" value="" />

      <label class="{{ $.Scratch.Get "labelClasses" }}"  for="name">Number of vegetarian meals</label>
      <input class="{{ $.Scratch.Get "inputClasses" }}" type="text" name="vegetarian" value="" />
    </div>

    <input class="db w-100 mv2 white pa3 bn hover-shadow hover-bg-blck bg-animate bg-black" type="submit" value="Submit" />

</form>
